<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin view</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body class="h-screen bg-light_body_bg_color md:grid md:grid-cols-[15%_70%] md:gap-6">
	<nav class="py-5 bg-secondary_color flex flex-col px-10 md:pl-[2.5vw] items-center sm:px-4">
		<div class="container flex flex-row md:flex-col flex-wrap justify-between mt-6 md:items-center mx-auto">
			<div class="md:mr-[2vw]">
				<a href="/dashboard" class="text-3xl text-light_nav_body_text_color">
					SA
				</a>
			</div>

			<input type="checkbox" id="checkbox_toggle" class="peer hidden inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"></input>
			<label for="checkbox_toggle" class="md:hidden flex">
					<svg class="text-light_nav_body_text_color w-6 h-6 fill-current hover:text-primary_color" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
			</label>

			<div class="peer-checked:flex hidden w-full md:block md:w-auto md:mt-[6vw]" id="checkbox_toggle">
				<ul class="gap-6 text-light_nav_body_text_color md:text-gray-900 flex flex-col p-4 md:pl-[0vw] mt-4 rounded-lg md:bg-transparent w-full bg-secondary_color border border-gray-100 md:w-full md:mt-0 md:text-sm md:font-medium md:border-0">
					<li>
						<a href="/admin_projects" class="font-light py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 text-light_nav_body_text_color hover:text-primary_color">Projects</a>
					</li>
					<li>
						<a href="/admin_blog" class="font-light py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 text-light_nav_body_text_color hover:text-primary_color">Blog</a>

					</li>
					<li>
						<a href="/admin_faq" class="font-light py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 text-light_nav_body_text_color hover:text-primary_color">FAQ</a>

					</li>
					<li>
						<a href="/admin_pictures" class="font-light py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 text-light_nav_body_text_color hover:text-primary_color">Pictures</a>
					</li>
					<li class="mt-[3vw]">
						<a href="/logout" class="py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 font-bold text-light_nav_body_text_color hover:text-primary_color">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{{{body}}}
</body>
</html>