<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio Website</title>
	<link rel="stylesheet" href="/style.css">
</head>
{{!-- THIS DOCUMENT IS THE HTML LAYOUT OF THIS WEBSITE (it means that all of the pages in this website will contain these things exept they are going to have diffirent content)--}}
<body class="bg-light_body_bg_color h-screen">
	<header>
		<nav class="mt-[35px] mx-[5vw] border-gray-200 px-2 sm:px-4 py-2.5 rounded">
			<div class="container flex flex-wrap justify-between items-center mx-auto">
				<div>
					<a href="/" class="text-3xl text-light_nav_body_text_color">
						SA
					</a>
				</div>

				<input type="checkbox" id="checkbox_toggle" class="peer hidden inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"></input>
				<label for="checkbox_toggle" class="md:hidden flex">
						<svg class="w-6 h-6 hover:text-primary_color" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
				</label>

				<div class="peer-checked:flex hidden w-full md:block md:w-auto" id="checkbox_toggle">
					<ul class="text-nav_body_text_color md:text-gray-900 flex flex-col p-4 mt-4 rounded-lg md:bg-transparent w-full bg-secondary_color border border-gray-100 md:flex-row md:w-full md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
						<li>
							<a href="/about"class="text-nav_body_text_color block py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 hover:text-primary_color">About</a>
						</li>
						<li>
							<a href="/projects" class="text-nav_body_text_color block py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 hover:text-primary_color">Projects</a>
						</li>
						<li>
							<a href="/contact" class="text-nav_body_text_color block py-2 pr-4 pl-3 rounded md:bg-transparent text-2xl md:p-0 hover:text-primary_color">Contact</a>
						</li>
						<li class="text-nav_body_text_color">
							<a href="/login" class="flex block py-2 pr-4 pl-3 rounded md:bg-transparent md:p-0">
								<svg id="account_icon_svg" class="text-primary_color hover:text-primary_color md:text-gray-900 fill-current w-[40px] h-[40px]" viewBox="0 0 44 56">
									<path d="M22 3.66667C11.88 3.66667 3.66669 11.88 3.66669 22C3.66669 32.12 11.88 40.3333 22 40.3333C32.12 40.3333 40.3334 32.12 40.3334 22C40.3334 11.88 32.12 3.66667 22 3.66667ZM22 11C25.5384 11 28.4167 13.8783 28.4167 17.4167C28.4167 20.955 25.5384 23.8333 22 23.8333C18.4617 23.8333 15.5834 20.955 15.5834 17.4167C15.5834 13.8783 18.4617 11 22 11ZM22 36.6667C18.2784 36.6667 13.8784 35.1633 10.7434 31.3867C13.9546 28.8672 17.9183 27.4978 22 27.4978C26.0817 27.4978 30.0454 28.8672 33.2567 31.3867C30.1217 35.1633 25.7217 36.6667 22 36.6667Z" />
								</svg>
								<p class="text-nav_body_text_color text-2xl hover:text-primary_color md:hidden">Login</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	{{{body}}}

</body>
</html>