<!-- content -->
<div class="content">
    <h1>ABOUT</h1>
    <p>Hi, I am Bassima Ghassan. I am very passionate about web development , UI design, and graphic design. Everyday I try to improve myself by learning more and trying new things!</p>
    <div class="main_skills">
        <h3>LANGUAGES</h3>
        <div class="lang_items">
            <div class="text_circle">HTML</div>
            <div class="text_circle">CSS</div>
            <div class="text_circle">JS</div>
        </div>
        <h3>DESIGN SOFTWARES</h3>
        <div class="design_items">
            <div class="text_circle">Adobe</div>
            <div class="text_circle">Figma</div>
        </div>
    </div>
</div>