<!-- content -->
<div class="mx-[7vw] h-screen mt-[7vw] md:mb-[0vw] mb-[10vw] font-mono">
	<h1 class="text-5xl text-gray-900 text-nav_body_text_color">ABOUT</h1>
	<p class="text-2xl mt-[1vw] text-nav_body_text_color">Hi, I am Sarah. I am very passionate about web development , UI design, and graphic design. Everyday I try to improve myself by learning more and trying new things.</p>
	<div class="mt-10">
		<h3 class="font-light text-2xl text-nav_body_text_color">LANGUAGES</h3>
		<div class="mt-10 text-2xl text-light_nav_body_text_color flex flex-wrap justify-start items-center gap-x-5 gap-y-5">
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl transition ease-in-out">HTML</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">CSS</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">JS</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Node.JS</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Express.JS</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">SQLite3</div>
		</div>
		<h3 class="font-light mt-10 text-2xl text-nav_body_text_color">DESIGN SOFTWARES</h3>
		<div class="mt-10 text-2xl text-light_nav_body_text_color flex flex-wrap md:pb-[0vw] pb-[5vw] justify-start items-center gap-x-5">
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Adobe</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Figma</div>
		</div>
	</div>
</div>