<!-- content -->
<div class="mx-20 h-screen mt-20">
	<h1 class="text-3xl font-bold">ABOUT</h1>
	<p class="text-2xl">Hi, I am Bassima Ghassan. I am very passionate about web development , UI design, and graphic design. Everyday I try to improve myself by learning more and trying new things!</p>
	<div class="mt-10">
		<h3 class="font-bold">LANGUAGES</h3>
		<div class="mt-10 text-2xl text-light_nav_body_text_color flex justify-start items-center gap-x-5">
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl transition ease-in-out">HTML</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">CSS</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">JS</div>
		</div>
		<h3 class="font-bold mt-10">DESIGN SOFTWARES</h3>
		<div class="mt-10 text-2xl text-light_nav_body_text_color flex justify-start items-center gap-x-5">
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Adobe</div>
			<div class="rounded-full bg-primary_color p-[20px] hover:animate-bounce hover:shadow-xl">Figma</div>
		</div>
	</div>
</div>