<!-- content -->
<div class="mt-[35px] px-[2vw] md:px-[0vw]">
	<h1 class="font-bold text-3xl pl-[2vw] md:pl-[0vw] text-nav_body_text_color">Pictures</h1>
	<h3 class="text-2xl whitespace-nowrap pl-[2vw] md:pl-[0vw] text-nav_body_text_color">Here you can add Pictures</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px] pl-[2vw] md:pl-[0vw] text-nav_body_text_color">
			<a href="/admin_pictures"><li class="text-primary_color">Add</li></a>
			<a href="/picture_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/picture_remove"><li class="hover:text-hover_color">Remove</li></a>
		</ul>
	</div>

	{{#if error_messages.length}}
	<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
		<h3 class="font-bold">Couldn't create the project pictures because:</h3>
		<ul class="list-disc ml-4">
			{{#each error_messages}}
				<li class="text-red-600 mt-4 font-bold">{{this}}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

	<form action="/pictures/add" method="post" enctype="multipart/form-data" class="mt-[35px] mb-[35px] bg-form_color p-4 space-y-4 shadow-xl">
		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="projectid" class="text-light_nav_body_text_color">Project id: </label>
			<input name="projectid" type="number" id="projectid" value="{{projectid}}" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none">
		</div>

		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="picture_title" class="text-light_nav_body_text_color">Picture title: </label>
			<input type="text" name="picture_title" id="picture_title" value="{{picture_title}}" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none">
		</div>

		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="picture_name" class="text-light_nav_body_text_color">Picture name</label>
			<input type="file" name="picture_name" value="{{picture_name}}" id="picture_name">
		</div>

		<input type="submit" value="Add picture" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="add_picture" id="add_picture">
	</form>
</div>
