<!-- content -->
<div class="mt-[35px]">
	<h1 class="font-bold text-3xl">Projects</h1>
	<h3 class="text-2xl whitespace-nowrap">Here you can add projects</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px]">
			<a href="/admin_projects"><li class="text-primary_color">Add</li></a>
			<a href="/projects_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/projects_remove"><li class="hover:text-hover_color">Remove</li></a>
		</ul>
	</div>

	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't create the project because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	<form action="/projects/add" method="post" class="mt-[35px] mb-[35px] bg-gray-100 p-4 space-y-4">
		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="project_name">Project name: </label>
			<input name="project_name" type="text" id="project_name" value="{{project_name}}">
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="project_sub_headline">Project sub-headline: </label>
			<input type="text" name="project_sub_headline" id="project_sub_headline" value="{{project_sub_headline}}">
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="project_description">Project description: </label>
			<textarea name="project_description" id="project_description" class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter project description"></textarea>
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="project_pictures">Project pictures</label>
			<input type="file" name="project_pictures" id="project_pictures">
		</div>

		<input type="submit" value="Add project" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color" name="add_project" id="add_project">
	</form>
</div>
