<!-- content -->
<div class="mt-[35px]">
	<h1 class="font-bold text-3xl">FAQ posts</h1>
	<h3 class="text-2xl whitespace-nowrap">Here you can add FAQ posts</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px]">
			<a href="/admin_faq"><li class="text-primary_color">Add</li></a>
			<a href="/faq_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/faq_remove"><li class="hover:text-hover_color">Remove</li></a>
		</ul>
	</div>

	<form action="/faqs/add" method="post" class="mt-[35px] bg-gray-100 space-y-4 p-4">
		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="post_question">Project id: </label>
			<input type="number" name="projectid" id="post_question">
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="post_question">Post question: </label>
			<input type="text" name="post_question" id="post_question">
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="post_answer">Post answer: </label>
			<textarea id="post_answer" name="post_answer" class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter post answer"></textarea>
		</div>

		<div class="flex flex-row gap-4 whitespace-nowrap">
			<label for="post_date">Post date: </label>
			<input type="date" name="post_date" id="post_date">
		</div>

		<input type="submit" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color" name="add_post" id="add_post">
	</form>
</div>
