<div class="mt-[35px]">
    <h1 class="font-bold text-3xl">FAQ posts</h1>
    <h3 class="text-2xl whitespace-nowrap">Here you can add FAQ posts</h3>

    <div>
        <ul class="flex flex-row gap-4 mt-[35px]">
            <li>Add</li>
            <li>Edit</li>
            <li>Remove</li>
        </ul>
    </div>

    <form action="" class="mt-[35px]">
        <div class="flex flex-row gap-4 whitespace-nowrap">
            <label for="post_question">Post question: </label>
            <input type="text" id="post_question">
        </div>

        <div class="flex flex-row gap-4 whitespace-nowrap">
            <label for="post_answer">Post answer: </label>
            <input type="text" id="post_answer">
        </div>

        <div class="flex flex-row gap-4 whitespace-nowrap">
            <label for="post_date">Post date: </label>
            <input type="date" id="post_date">
        </div>

        <input type="submit" class="mt-[35px] bg-primary_color text-white font-light py-2 px-4 rounded" name="add_post" id="add_post">
    </form>
</div>
