<!-- content -->
<div class="mx-20 h-screen mt-20">
    <h1 class="text-3xl font-bold">CONTACT</h1>
    <p class="text-2xl">I am intrested in remote internships or  jobs. If you are intrested, you can contact me using these platforms.</p>
    <div class="mt-10 flex justify-start items-center gap-x-5">
        <a href="https://github.com/BassimaGH">
            <div class="github circle_obj">
                <svg class="h-10 w-10" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31 0C13.8725 0 0 13.8725 0 31C0 44.7175 8.87375 56.3038 21.1962 60.4113C22.7462 60.6825 23.3275 59.7525 23.3275 58.9388C23.3275 58.2025 23.2887 55.7613 23.2887 53.165C15.5 54.5988 13.485 51.2663 12.865 49.5225C12.5162 48.6313 11.005 45.88 9.6875 45.1438C8.6025 44.5625 7.0525 43.1288 9.64875 43.09C12.09 43.0513 13.8337 45.3375 14.415 46.2675C17.205 50.9563 21.6612 49.6388 23.4437 48.825C23.715 46.81 24.5287 45.4538 25.42 44.6788C18.5225 43.9038 11.315 41.23 11.315 29.3725C11.315 26.0013 12.5162 23.2113 14.4925 21.0413C14.1825 20.2663 13.0975 17.0888 14.8025 12.8263C14.8025 12.8263 17.3987 12.0125 23.3275 16.0038C25.8075 15.3063 28.4425 14.9575 31.0775 14.9575C33.7125 14.9575 36.3475 15.3063 38.8275 16.0038C44.7562 11.9738 47.3525 12.8263 47.3525 12.8263C49.0575 17.0888 47.9725 20.2663 47.6625 21.0413C49.6388 23.2113 50.84 25.9625 50.84 29.3725C50.84 41.2688 43.5938 43.9038 36.6962 44.6788C37.82 45.6475 38.7887 47.5075 38.7887 50.4137C38.7887 54.56 38.75 57.8925 38.75 58.9388C38.75 59.7525 39.3312 60.7213 40.8812 60.4113C47.0352 58.3335 52.3827 54.3783 56.1711 49.1024C59.9595 43.8264 61.9981 37.4952 62 31C62 13.8725 48.1275 0 31 0Z" fill="#000000"/>
                </svg>
            </div>
        </a>
        <a href="https://twitter.com/Bassima_Ghassan">
            <div class="twitter circle_obj">
                <svg class="h-10 w-10" viewBox="0 0 60 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M59.0781 5.75387C56.921 6.7097 54.6037 7.35553 52.1676 7.64745C54.6812 6.14341 56.5618 3.77624 57.4583 0.987616C55.0967 2.39034 52.5121 3.3777 49.8168 3.90678C48.0043 1.97152 45.6036 0.688792 42.9873 0.257757C40.3711 -0.173277 37.6857 0.271494 35.3482 1.52302C33.0106 2.77454 31.1517 4.7628 30.0599 7.1791C28.9681 9.5954 28.7046 12.3046 29.3103 14.8859C24.5252 14.6457 19.844 13.402 15.5707 11.2355C11.2973 9.06896 7.52724 6.02812 4.50515 2.31028C3.47181 4.09278 2.87765 6.15945 2.87765 8.36045C2.8765 10.3419 3.36443 12.2929 4.29817 14.0405C5.2319 15.7881 6.58256 17.2782 8.23031 18.3786C6.31936 18.3178 4.45057 17.8015 2.77948 16.8725V17.0275C2.77929 19.8065 3.74057 22.5 5.5002 24.6509C7.25984 26.8019 9.70946 28.2778 12.4334 28.8282C10.6607 29.308 8.8021 29.3786 6.99806 29.0349C7.7666 31.426 9.26364 33.517 11.2796 35.0151C13.2956 36.5132 15.7295 37.3433 18.2407 37.3894C13.9778 40.7358 8.71311 42.5511 3.29357 42.5431C2.33355 42.5434 1.37435 42.4873 0.420898 42.3752C5.92204 45.9122 12.3258 47.7894 18.8659 47.7821C41.0051 47.7821 53.108 29.4456 53.108 13.5426C53.108 13.0259 53.0951 12.5041 53.0718 11.9874C55.426 10.285 57.4581 8.17676 59.0729 5.76162L59.0781 5.75387Z" fill="#000000"/>
                </svg> 
            </div>
        </a>
        <a href="https://www.linkedin.com/in/bassima-gh-4940b3228/">
            <div class="linkedin circle_obj">
                <svg class="h-10 w-10" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.458497 4.97675C0.458497 3.77839 0.934543 2.62912 1.78191 1.78175C2.62928 0.93438 3.77856 0.458334 4.97691 0.458334H50.0185C50.6124 0.457364 51.2006 0.573539 51.7495 0.800207C52.2984 1.02687 52.7972 1.35958 53.2174 1.77929C53.6376 2.19899 53.9708 2.69744 54.1981 3.24611C54.4253 3.79478 54.5422 4.38288 54.5418 4.97675V50.0183C54.5425 50.6123 54.426 51.2006 54.1991 51.7495C53.9721 52.2985 53.6392 52.7973 53.2193 53.2174C52.7994 53.6375 52.3008 53.9707 51.752 54.198C51.2032 54.4252 50.6149 54.542 50.021 54.5417H4.97691C4.38334 54.5417 3.79558 54.4247 3.24722 54.1975C2.69886 53.9703 2.20065 53.6372 1.78104 53.2174C1.36143 52.7976 1.02866 52.2992 0.801735 51.7507C0.574808 51.2022 0.458174 50.6144 0.458497 50.0208V4.97675ZM21.8657 21.0788H29.189V24.7565C30.2461 22.6423 32.9503 20.7396 37.0139 20.7396C44.8044 20.7396 46.6506 24.9507 46.6506 32.6773V46.9897H38.7667V34.4374C38.7667 30.037 37.7096 27.5541 35.0251 27.5541C31.3007 27.5541 29.752 30.2312 29.752 34.4374V46.9897H21.8657V21.0788ZM8.34483 46.6529H16.2312V20.7396H8.34483V46.6504V46.6529ZM17.3595 12.2878C17.3744 12.9631 17.2543 13.6345 17.0061 14.2626C16.758 14.8908 16.3869 15.4631 15.9146 15.9459C15.4423 16.4287 14.8783 16.8123 14.2558 17.0742C13.6332 17.3361 12.9646 17.471 12.2892 17.471C11.6138 17.471 10.9452 17.3361 10.3227 17.0742C9.70011 16.8123 9.13614 16.4287 8.66385 15.9459C8.19155 15.4631 7.82045 14.8908 7.57232 14.2626C7.3242 13.6345 7.20404 12.9631 7.21891 12.2878C7.2481 10.9624 7.79511 9.70115 8.7428 8.77411C9.69049 7.84705 10.9635 7.32794 12.2892 7.32794C13.6149 7.32794 14.888 7.84705 15.8357 8.77411C16.7833 9.70115 17.3304 10.9624 17.3595 12.2878Z" fill="#000000"/>
                </svg>
            </div>
        </a>
        <a href="mailto: bassimagh03@gmail.com">
            <div class="email circle_obj">
                <svg class="h-10 w-10" viewBox="0 0 62 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M57.25 0.125H4.75C3.58968 0.125 2.47688 0.585936 1.65641 1.40641C0.835936 2.22688 0.375 3.33968 0.375 4.5V39.5C0.375 40.6603 0.835936 41.7731 1.65641 42.5936C2.47688 43.4141 3.58968 43.875 4.75 43.875H57.25C58.4103 43.875 59.5231 43.4141 60.3436 42.5936C61.1641 41.7731 61.625 40.6603 61.625 39.5V4.5C61.625 3.33968 61.1641 2.22688 60.3436 1.40641C59.5231 0.585936 58.4103 0.125 57.25 0.125ZM52.4375 4.5L31 19.3312L9.5625 4.5H52.4375ZM4.75 39.5V6.49062L29.7531 23.7937C30.1193 24.0478 30.5543 24.1839 31 24.1839C31.4457 24.1839 31.8807 24.0478 32.2469 23.7937L57.25 6.49062V39.5H4.75Z" fill="#000000"/>
                </svg>
            </div>
        </a>
    </div>
</div>