<!-- content -->
<div class="mt-[35px] text-nav_body_text_color grid place-items-center text-center content-center h-screen">
	<h1 class="uppercase text-[5vw] text-">Welcome Admin</h1>
	<p class="text-2xl">Here you can add, edit and remove things from your website</p>
</div>