<div class="mt-[35px]">
    <h1 class="font-bold text-3xl">FAQ posts</h1>
    <h3 class="text-2xl whitespace-nowrap">Here you can edit FAQ posts</h3>

    <div>
        <ul class="flex flex-row gap-4 mt-[35px]">
            <a href="/admin_faq"><li class="hover:text-hover_color">Add</li></a>
            <a href="/faq_edit"><li class="text-primary_color">Edit</li></a>
            <a href="/faq_remove"><li class="hover:text-hover_color">Remove</li></a>
        </ul>
    </div>

    <form action="" class="mt-[35px] space-y-4">
        <h1>gonna add a table here</h1>

        <input type="submit" value="Confirm edit" class="mt-[35px] bg-primary_color text-white font-light py-2 px-4 rounded" name="add_post" id="add_post">
    </form>
</div>
