<div class="container">
    <h1>Login</h1>
    <form action="/dashboard">
        <input type="text" value="Username">
        <input type="text" value="Password">
        <input type="submit" value="Login">
    </form>
</div>