<!-- content -->
{{#if successfull_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
{{/if}}
<div class="grid place-items-center content-center gap-y-3 h-screen">
	<h1 class="text-4xl text-nav_body_text_color font-bold">Bassima Ghassan</h1>
	<h5 class="text-2xl text-nav_body_text_color mb-[2vw]">Front-end developer, UI/UX designer and Graphic designer</h5>

	<a href="/projects"><button type="button" class="bg-primary_color text-white py-2 px-6 rounded">My Projects</button></a>
</div>



