{{!-- CONTENT --}}
<div class="grid place-items-center content-center gap-y-3 h-screen">
    <h1 class="text-3xl text-nav_body_text_color">Bassima Ghassan</h1>
    <h5 class="text-2xl text-nav_body_text_color mb-15">Front-end developer, UI/UX designer and Graphic designer</h5>

    <a href="/projects"><button type="button" class="bg-primary_color text-white font-light py-2 px-4 rounded">My Projects</button></a>
</div>



