<!-- content -->
<div class="grid place-items-center content-center gap-y-3 h-screen">
	<h1 class="text-4xl text-nav_body_text_color font-bold font-mono">Sarah Anderson</h1>
	<h5 class="text-2xl text-nav_body_text_color mb-[2vw] font-mono text-center">Front-end developer, UI/UX designer and Graphic designer</h5>

	<a href="/projects"><button type="button" class="bg-primary_color text-white py-2 px-6 rounded hover:bg-hover_color hover:shadow-xl transition ease-in-out">My Projects</button></a>
</div>



